@import "~bootstrap/scss/bootstrap";

a {
    text-decoration: none;
    color: inherit;
}

.cover-image {
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 3px 2px rgba($color: #000000, $alpha: 0.5);
}

@media (min-width: 576px) {
    .dashboard-panel {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .dashboard-panel {
        max-width: 70%;
    }
}

@media (min-width: 992px) {
    .dashboard-panel {
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .dashboard-panel {
        max-width: 40%;
    }
}
