@import "~bootstrap/scss/bootstrap";

a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand > img {
    height: 57px;
    width: auto;
}

.cover-image {
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 3px 2px rgba($color: #000000, $alpha: 0.5);
    aspect-ratio: 2/3;
}

.content-thumbnail {
    max-height: 180px;
    width: auto;
    object-fit: cover;
}

.form-search-results {
    max-height: 180px;
}

.performer-avatar {
    width: 50px;
    height: 50px;
}

@media (min-width: 576px) {
    .dashboard-panel {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .dashboard-panel {
        max-width: 70%;
    }
}

@media (min-width: 992px) {
    .dashboard-panel {
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .dashboard-panel {
        max-width: 40%;
    }
}
